---
import PublicLayout from "@/layouts/PublicLayout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";
---

<PublicLayout title="Rejestracja">
  <div class="w-full max-w-sm space-y-4">
    <RegisterForm client:load />
    <p class="text-center text-sm text-muted-foreground">
      Masz już konto?
      <a href="/login" class="font-semibold underline"> Zaloguj się </a>
    </p>
  </div>
</PublicLayout>

