---
import FocusLayout from "@/layouts/FocusLayout.astro";
import { SuggestionReviewer } from "@/components/SuggestionReviewer";
---

<FocusLayout title="Weryfikacja sugestii | Inteligentne Fiszki">
  <div class="w-full max-w-2xl">
    <SuggestionReviewer client:load />
  </div>
</FocusLayout>
