---
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/ui/sonner";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <header
        class="supports-backdrop-blur:bg-background/60 sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur"
      >
        <div class="container flex h-14 items-center">
          <!-- Możesz tu dodać przyszłą nawigację -->
        </div>
      </header>
      <main class="flex-1">
        <slot />
      </main>
    </div>
    <Toaster />
  </body>
</html> 